
{% extends "layout.html" %}

{% block body %}

{{ error }}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" align=left>Moi, {{current_user.name}}</h1>
    <p>Tällä sivulla näkyvät tiedot näkyvät vain admineille</p>
  </div>
</div>
{% if all_users is defined %}
<table class="table">
  <thead class="thead-light">
    <th scope="col">Työntekijän nimi</th>
    <th scope="col">Työntekijän käyttäjänimi</th>
    </thead>
  {% for user in all_users %}
  <tr>
    <td>{{user.name}}</td>
    <td>{{user.id}} </td>
  {% endfor %}
</table>
{% endif %}

{% if all_materials is defined %}
<p>
  Kursseilla käytetty materiaali:
</p>

<ul>
  {% for material in all_materials %}
  <li>
    {{material.id}} {{material.name}}
  </li>
  {% endfor %}
</ul>

{% endif %}

{% if course_students is defined %}
<p>
  Millä kursseilla työkaverisi ovat:
</p>

<ul>
  {% for kurssilaiset in course_students %}
  <li>
    {{kurssilaiset.Työntekijät}} {{kurssilaiset.Kurssi}}
  </li>
  {% endfor %}
</ul>

{% endif %}	

{% if student_materials is defined %}
<p>
  Kursseilla käytettyjen materiaalien määrä:
</p>

<ul>
  {% for materiaalit in student_materials %}
  <li>
    {{materiaalit.Työntekijä}} {{materiaalit.Materiaali}}
  </li>
  {% endfor %}
</ul>

{% endif %}

{% if find_everything is defined %}
<p>
  Työntekijät kursseilla ja heidän siellä lukemansa materiaalit:
</p>

<ul>
  {% for materiaalit in find_everything %}
  <li>
    {{materiaalit.Työntekijä}} {{materiaalit.Kurssi}} {{materiaalit.Materiaali}}
  </li>
  {% endfor %}
</ul>

{% endif %}

{% endblock %}
