
{% extends "layout.html" %}

{% block body %}

{{ error }}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" align=left>Moi, {{current_user.name}}</h1>
    <p>Tällä sivulla näkyvät tiedot näkyvät vain admineille</p>
  </div>
</div>
{% if all_users is defined %}
<table class="table">
  <thead class="thead-info">
    <th scope="col">Työntekijän nimi</th>
    <th scope="col">Työntekijän käyttäjänimi</th>
    </thead>
  {% for user in all_users %}
  <tr>
    <td>{{user.name}}</td>
    <td>{{user.id}} </td>
  {% endfor %}
</table>
{% endif %}

{% if course_students is defined %}
<table class="table">
  <thead class="thead-info">
    <th scope="col">Työntekijä</th>
    <th scope="col">Kurssi</th>
    </thead>
  {% for kurssilaiset in course_students %}
  <tr>
    <td>{{kurssilaiset.Työntekijät}}</td>
    <td>{{kurssilaiset.Kurssi}}</td>
  {% endfor %}
</table>
{% endif %}	

{% if student_materials is defined %}
<table class="table">
  <thead class="thead-info">
    <th scope="col">Työntekijä</th>
    <th scope="col">Kurssi</th>
    </thead>
  {% for materiaalit in student_materials %}
  <tr>
    <td>{{materiaalit.Työntekijä}}</td>
    <td>{{materiaalit.Materiaali}}</td>
  {% endfor %}
</table>
{% endif %}

{% if find_everything is defined %}
<table class="table">
  <thead class="thead-info">
    <th scope="col">Työntekijä</th>
    <th scope="col">Kurssi</th>
    </thead>
  {% for materiaalit in find_everything %}
  <tr>
    <td>{{materiaalit.Työntekijä}}</td>
    <td>{{materiaalit.Kurssi}}</td>
    <td>{{materiaalit.Materiaali}}</td>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
