{% extends "layout.html" %}

{% block body %}
{{ error }}

<form method="POST" action="{{ url_for('union_create') }}">
  <table>
    <tr>
      <td>
	{{ form.course.label }}
      </td>
      <td>
	{{ form.course }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.material.label }}
      </td>
      <td>
	{{ form.material }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Lisää materiaali kurssiin"/>
      </td>
    </tr>
</form>

{% if course_materials is defined %}
<p>
  Kurssimateriaalit:
</p>

<ul>
  {% for kurssimateriaalit in course_materials %}
  <li>
    {{kurssimateriaalit.Kurssi}} {{kurssimateriaalit.Materiaali}}
  </li>
  {% endfor %}
</ul>

{% endif %}	

<p>
    <th>Järjestelmään lisätyt kurssit:</th>
   </p>
  
     <ul>
      {% for course in courses %}
        <li>
     {{ course.name }}
        </li>
      {% endfor %}
     </ul>
  
   <p>
    <th>Järjestelmään lisätyt Materiaalit:</th>
   </p>
  
     <ul>
      {% for material in materials %}
        <li>
     {{ material.name }}
        </li>
      {% endfor %}
     </ul>
  


{% endblock %}
