{% extends "layout.html" %}

{% block body %}
{{ error }}

<form method="POST" action="{{ url_for('union_create') }}">
  <table>
    <tr>
      <td>
	{{ form.course.label }}
      </td>
      <td>
	{{ form.course }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.material.label }}
      </td>
      <td>
	{{ form.material }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Lisää materiaali kurssiin"/>
      </td>
    </tr>
</form>
<table>
  <tr>  
    {% if course_materials is defined %}
      <th>
        Kurssimateriaalit:
      </th>
    </tr>

    <td>    
      <ul>
        {% for kurssimateriaalit in course_materials %}
        <li>
          {{kurssimateriaalit.Kurssi}} {{kurssimateriaalit.Materiaali}}
        </li>
        {% endfor %}
      </ul>
      
      {% endif %}
    </td>
	</table>


<table>
    <th>Järjestelmään lisätyt kurssit:</th>
    <td>     
      <ul>
        {% for course in courses %}
          <li>
       {{ course.name }}
          </li>
        {% endfor %}
       </ul>
      </td>

    </table>

    <table>
    <th>Järjestelmään lisätyt Materiaalit:</th>
  <td>     
    <ul>
      {% for material in materials %}
        <li>
     {{ material.name }}
        </li>
      {% endfor %}
     </ul>
    </td>

    </table>


{% endblock %}
