  {% extends "layout.html" %}

  {% block body %}
<table>  
  <form method="POST" action="{{ url_for('materials_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Lisää käsitelty aihe"/>
	</td>
      </tr>
  </form></table>

<table>    
  <p>
    <th>Järjestelmään jo lisätyt Materiaalit:</th>
   </p>
  
     <ul>
      {% for material in materials %}
        <li>
     {{ material.name }}
        </li>
      {% endfor %}
     </ul>
    </table>

    <table>    
      <p>
        <th>Järjestelmään jo lisätyt Materiaalit:</th>
       </p>
      
         <ul>
          {% for material in materials %}
            <li>
         {{ material.name }}
            </li>
          {% endfor %}
         </ul>
  </table>
  {% endblock %}
