  {% extends "layout.html" %}

  {% block body %}
  <form method="POST" action="{{ url_for('materials_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Lisää käsitelty aihe"/>
	</td>
      </tr>
  </form>

{% if coursematerials is defined %}
<p>
  Materiaalit, joihin kursseilla on perehdytty:
</p>

<ul>
  {% for coursematerials in course_materials %}
  <li>
    {{coursematerials.Kurssi}} {{coursematerials.Materiaali}}
  </li>
  {% endfor %}
</ul>

{% endif %}
	  
  {% endblock %}
