  {% extends "layout.html" %}

  {% block body %}
  <form method="POST" action="{{ url_for('materials_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Lisää käsitelty aihe"/>
	</td>
      </tr>
  </form>
  <table>
    <tr>
      <th>Järjestelmään jo lisätyt materiaalit</th>
    </tr>
    {% for material in materials %}
    <tr>
      <td>{{ material.name }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endblock %}
