{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('unite_create') }}">
  <table>
    <tr>
      <td>
	{{ form.task.label }}
      </td>
      <td>
	{{ form.task }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.material.label }}
      </td>
      <td>
	{{ form.material }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Liitä materiaali koulutukseen"/>
      </td>
    </tr>
</form>
{% endblock %}
