{% extends "layout.html" %}

{% block body %}
{{ error }}

<form method="POST" action="{{ url_for('student_create') }}">
  <table>
    <tr>
      <td>
	{{ form.user.label }}
      </td>
      <td>
	{{ form.user }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.course.label }}
      </td>
      <td>
	{{ form.course }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Lisää työntekijä kurssiin"/>
      </td>
    </tr>
</form>

<br></br>

  <table>    
    <th>Järjestelmään lisätyt kurssit:</th>
  <td>    
   <ul>
    {% for course in courses %}
      <li>
   {{ course.name }}
      </li>
    {% endfor %}
   </ul>
  </td>
</table>
<br></br>
  
  <table>  
    {% if course_students is defined %}
      <p>
        <th>Osallistujien lukumäärä kursseilla:</th>
      </p>
      <td>      
        <ul>
          {% for kurssilaiset in course_students %}
          <li>
            {{kurssilaiset.Osallistujat}} {{kurssilaiset.Kurssi}}
          </li>
          {% endfor %}
        </ul>
      </td>

      
      {% endif %}	</table>

	
{% endblock %}
