{% extends "layout.html" %}

{% block body %}
{{ error }}

 <p>
  <th>Järjestelmään lisätyt kurssit:</th>
 </p>

   <ul>
    {% for course in courses %}
      <li>
	 {{ course.name }}
      </li>
    {% endfor %}
   </ul>

{% if course_students is defined %}
<p>
  Millä kursseilla työkaverisi ovat:
</p>

<ul>
  {% for kurssilaiset in course_students %}
  <li>
    {{kurssilaiset.Osallistujat}} {{kurssilaiset.Kurssi}}
  </li>
  {% endfor %}
</ul>

{% endif %}	

<form method="POST" action="{{ url_for('student_create') }}">
  <table>
    <tr>
      <td>
	{{ form.user.label }}
      </td>
      <td>
	{{ form.user }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.course.label }}
      </td>
      <td>
	{{ form.course }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Lisää työntekijä kurssiin"/>
      </td>
    </tr>
</form>
	
{% endblock %}
