{% extends "layout.html" %}
  
{% block body %}

<p>
    Hei, {{current_user.name}}, 
    <br></br>
    tässä syöttämäsi tiedot: 
    <br></br>
    nimi: {{current_user.name}}
    <form method="POST" action="{{ url_for('change_name') }}">
        <table>
          <tr>
            <td>
          {{ form.name.label }}
            </td>
            <td>
          {{ form.name }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
          <input type="submit" value="Muuta nimi"/>
            </td>
          </tr>
        </table>  
      </form>    <br></br>
    käyttäjänimi: {{current_user.username}}
        <a href="{{ url_for('index') }}" class="button">Muuta käyttäjänimi</a></br>
    salasana: {{current_user.password}}
        <a href="{{ url_for('index') }}"class="button">Muuta salasana</a>

</p>

{% endblock %}