{% extends "layout.html" %}
  
{% block body %}
{{ error }}

<p>
    Hei, {{current_user.name}}, 
    <br></br>
    tässä syöttämäsi tiedot: 
    <br></br>
    salasana: {{current_user.password}}
    <form method="POST" action="{{ url_for('change_password') }}">
        <table>
          <tr>
            <td>
          {{ form.password.label }}
            </td>
            <td>
          {{ form.password }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
          <input type="submit" value="Muuta salasana"/>
            </td>
          </tr>
        </table>  
      </form>    <br></br>
    käyttäjänimi: {{current_user.username}}
        <a href="{{ url_for('change_username') }}" class="button">Muuta käyttäjänimi</a></br>
    nimi: {{current_user.name}}
        <a href="{{ url_for('change_password') }}"class="button">Muuta nimi</a>

</p>

{% endblock %}