{% extends "layout.html" %}

{% block body %}
{{ error }}

<h1>Poista työntekijä<br></h1>
 <p>
  <th>Kirjoita sen henkilön, jonka haluat poistaa, käyttäjätunnus alla olevaan kenttään. <br></br>Paina lopuksi Poista käyttäjä-nappia.</th>
 </p>

<form method="POST" action="{{ url_for('remove_user') }}">
  <table>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Poista käyttäjä"/>
      </td>
    </tr>
</form>

{% if find_usernames is defined %}
<p>
  Käyttäjänimet käyttäjittäin:
</p>

<ul>
  {% for usernames in find_usernames %}
  <li>
    {{usernames.id}}{{usernames.name}}
  </li>
  {% endfor %}
</ul>
{% endif %}	

{% endblock %}