{% extends "layout.html" %}
  
{% block body %}

<p>
    Hei, {{current_user.name}}, 
    <br></br>
    tässä syöttämäsi tiedot: 
    <br></br>
    nimi: {{current_user.name}}
        <a href="{{ url_for('index') }}" class="button">Muuta käyttäjänimi</a></br>
    käyttäjänimi: {{current_user.username}}
        <a href="{{ url_for('index') }}" class="button">Muuta käyttäjänimi</a></br>
    salasana: {{current_user.password}}
        <a href="{{ url_for('index') }}"class="button">Muuta salasana</a>
    <br></br>
</p>

{% endblock %}

