{% extends "layout.html" %}

{% block body %}
{{ error }}

<h1>Muuta työntekijän roolia</h1>
 <p>
  <th>Muuta työntekijän roolia end-userista adminiksi tai toisinpäin kirjoittamalla hänen nimensä allaolevaan kenttään.<br></br>Paina lopuksi Lisää rooli-nappia.</th>
 </p>

<form method="POST" action="{{ url_for('roles_create') }}">
  <table>
    <tr>
      <td>
	{{ form.name.label }}
      </td>
      <td>
	{{ form.name }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Lisää rooli"/>
      </td>
    </tr>
</form>

<table> 
    {% if role_query is defined %}
      <th>
        <tr>
        <br></br>Jos rooli on TRUE, käyttäjä on admin. Muussa tapauksessa hän on end user:
      </tr>
      </th>
  
    <td>    
      <ul>
        {% for roolit in role_query %}
        <li>
          {{roolit.Nimi}} {{roolit.Rooli}}
        </li>
        {% endfor %}
      </ul>
      
      {% endif %}
    </td>
  </table>

{% endblock %}

