{% extends "layout.html" %}
  
{% block body %}

{{ error }}
 <p>
  <th>Järjestelmään jo lisätyt Roolit:</th>
 </p>

   <ul>
    {% for roles in roles %}
      <li>
	 {{ roles.name }}
      </li>
    {% endfor %}
   </ul>

 <p>
	 <th>Mikäli järjestelmään ei ole vielä lisätty käyttäjärooleja, lisää roolit:</br></br>Roolin nimi: admin   Kuvaus: Administrator</br>Roolin nimi: end-user   Kuvaus: Enduser</br> </br> </th>
 </p>

<form method="POST" action="{{ url_for('role_maker') }}">
 Roolin nimi: {{form.name}}
 Kuvaus: {{form.description}}

  <input type="submit" value="Lisää uusi rooli"/>
</form>

  <p>
</br></br>
    Jos listassa näkyvät jo roolit admin ja end-user, voit siirtyä suoraan allaolevasta linkistä eteenpäin :)
  </p>

  <a href="/roles/new/">Siirry lisäämään rooleja käyttäjille</a>

{% endblock %}
