{% extends "layout.html" %}
  
{% block body %}

{{ error }}
 <p>
  <th>Järjestelmään jo lisätyt Roolit:</th>
 </p>

   <ul>
    {% for roles in roles %}
      <li>
	 {{ roles.name }}
      </li>
    {% endfor %}
   </ul>

 <p>
  <th>Mikäli järjestelmään ei ole vielä lisätty käyttäjärooleja, lisää roolit admin ja end-user. </br>Adminin kuvaus on Administrator, end-userin End user. </br> </br> </th>
 </p>

<form method="POST" action="{{ url_for('role_maker') }}">
 Roolin nimi: {{form.name}}
 Kuvauksen nimi: {{form.description}}

  <input type="submit" value="Lisää uusi rooli"/>
</form>

  <p>
</br></br>
    Jos listassa näkyvät jo roolit admin ja end-user, voit siirtyä suoraan allaolevasta linkistä eteenpäin :)
  </p>

  <a href="/roles/new/">Siirry lisäämään rooleja käyttäjille</a>

{% endblock %}
