{% extends "layout.html" %}

{% block body %}
{{ error }}
 <p>
  <th>Muuta työntekijän roolia end-userista adminiksi tai toisinpäin<br>kirjoittamalla hänen nimensä allaolevaan kenttään.<br></br>Paina lopuksi Lisää rooli-nappia.</th>
 </p>

<form method="POST" action="{{ url_for('roles_create') }}">
  <table>
    <tr>
      <td>
	{{ form.name.label }}
      </td>
      <td>
	{{ form.name }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Lisää rooli"/>
      </td>
    </tr>
</form>
{% endblock %}
