{% extends "layout.html" %}

{% block body %}
{{ error }}
 <p>
  <th>Järjestelmään jo lisätyt Roolit:</th>
 </p>

   <ul>
    {% for roles in roles %}
      <li>
	 {{ roles.name }}
      </li>
    {% endfor %}
   </ul>


<form method="POST" action="{{ url_for('roles_create') }}">
  <table>
    <tr>
      <td>
	{{ form.name.label }}
      </td>
      <td>
	{{ form.name }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Lisää rooli"/>
      </td>
    </tr>
</form>
{% endblock %}
