  {% extends "layout.html" %}

  {% block body %}

  <form method="POST" action="{{ url_for('courses_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Lisää kurssi"/>
	</td>
      </tr>
  </form>

  
  <p>
    <th>Järjestelmään lisätyt kurssit:</th>
   </p>
  
     <ul>
      {% for course in courses %}
        <li>
     {{ course.name }}
        </li>
      {% endfor %}
     </ul>
	  
	  
  {% endblock %}
