  {% extends "layout.html" %}

  {% block body %}

 <table>
    <tr>
      <th>Järjestelmään jo lisätyt kurssit</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{ course.name }}</td>
    </t>
    {% endfor %}
  </table>

  <form method="POST" action="{{ url_for('courses_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Lisää kurssi"/>
	</td>
      </tr>
  </form>
	  
	  
  {% endblock %}
