  {% extends "layout.html" %}

  {% block body %}

  <form method="POST" action="{{ url_for('courses_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Lisää kurssi"/>
	</td>
      </tr>
  </form>
<br></br>
<br></br>
  
  <table>
    <th>Järjestelmään lisätyt kurssit:</th> 
  <td>     
    <ul>
      {% for course in courses %}
        <li>
     {{ course.name }}
        </li>
      {% endfor %}
     </ul>
    </td>

    </table>
	  
	  
  {% endblock %}
